.earth{
    background-color: saddlebrown;
}

.water{
    background-color: aqua;
}

.fire{
    background-color: orangered;
}

.air{
    background-color: blue;
}

.rien{
    background-color: white;
}